@model IEnumerable<EQuiz.MobileAppService.Models.Question>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1>Заказы компаний</h1>
                <div class="separator mb-5"></div>
            </div>
            <div class="col-xl-6 col-lg-12 mb-4">
                <div class="card h-100">
                    <div class="card-body">

                        <p>
                            <a asp-action="Create">Создать новый вопрос</a>
                        </p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                                            <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                                            <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



